<%= render 'pages/home' if !user_signed_in? %>
<div id="pins" class="transitions-enabled">
	<% @pins.each do |pin| %>
		<div class="box panel panel-default">
	    	
	    	<%= link_to image_tag(pin.image.url), pin,  class: "index-image" %>
	    	
	    	<div class="panel-body">
	    	<%= pin.description %>
	    	<%= pin.user.email if pin.user %>
	    	<% if pin.user == current_user %>
	    	<%= link_to raw('<span class="glyphicon glyphicon-pencil" >'), edit_pin_path(pin) , class: "btn btn-info btn-sm" %>
	    	<%= link_to raw('<span class="glyphicon glyphicon-trash" aria-hidden="true">'), pin, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-sm"%>
	    	<% end %>
	    	</div>
	    </div>
	<% end %>
</div>

