<div class="col-sm-8">
	<%= link_to 'Back', pins_path , class: "btn btn-danger btn-sm" %><br>
		<div class="panel panel-default">
			<div class="panel-heading center">
				<!-- <img src="<%=@pin.image.url%>" width="300px" height="300px"> -->
				<%= image_tag @pin.image.url, class: "medium-image" %>
			</div>
			<div class="panel-body">
				<div>
					<p>
				  	<strong>Description:</strong>
				  	<%= @pin.description %>
					</p>
				</div>
				<div>
					<strong><%= @pin.user.email %></strong>
				</div>
				<div>
					<% if @pin.user == current_user %>
					<%= link_to 'Edit', edit_pin_path(@pin) , class: "btn btn-info btn-sm" %> 
					<% end %>
				</div>
			</div>	
		</div>
</div>
